<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.example.backend.roomend.vo"/>
        <!-- User -->
        <package name="com.example.backend.user.vo"/>
        <!-- Account -->
        <package name="com.example.backend.account.mapper"/>
        <package name="com.example.backend.account.vo"/>
        <!-- 방 개설: roomBasic -->
        <package name="com.example.backend.roombasic.vo"/>
        <!-- 거래내역: transaction       -->
        <package name="com.example.backend.transaction.vo"/>

        <package name="com.example.backend.roomlist.vo"/>
    </typeAliases>
</configuration>