<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.roomout.mapper.RoomOutMapper">
    <!-- 1. 사용자 목록에서 삭제 -->
    <delete id="deletePerson" parameterType="map">
        DELETE FROM PersonList
        WHERE roomNum = #{roomNum}
          AND id = #{userId};
    </delete>

    <!-- 2. 현재 인원 수 수정 -->
    <update id="updateCurrentMemberNum" parameterType="map">
        UPDATE RoomComplete
        SET memberCurrent = #{memberCurrent}
        WHERE roomNum = #{roomNum};
    </update>
</mapper>