<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backend.roomdetails.mapper.RoomDetailsMapper">
    <!-- 방 기본 정보 보여주기 -->
    <select id="getRoomBasicInfo" resultType="com.example.backend.roomdetails.dto.RoomDetailsDto">
        SELECT
            rl.title AS title,
            rl.category AS subscriptionType,
            rl.period AS duration,
            rl.dueDate AS fundraisingDate
        FROM RoomList rl
        WHERE rl.roomNum = #{roomNum}
    </select>

    <!-- 참가자 목록 출력 -->
    <select id="getParticipantList" resultType="com.example.backend.roomdetails.dto.ParticipantDto">
        SELECT
            u.name AS name,
            pl.role AS role
        FROM PersonList pl
                 JOIN User u ON pl.id = u.id
        WHERE pl.roomNum = #{roomNum}
    </select>

    <!-- 구독 계정 정보 출력 -->
    <select id="getSubscriptionAccountInfo" resultType="com.example.backend.roomdetails.dto.SubscriptionAccountDto">
        SELECT
            rc.subscribeId AS accountId,
            rc.subscribePwd AS accountPassword
        FROM RoomComplete rc
        WHERE rc.roomNum = #{roomNum}
    </select>

    <!-- 이번 달 납부 현황 -->
    <select id="getMonthlyPaymentStatus" resultType="com.example.backend.roomdetails.dto.PaymentStatusDto">
        SELECT
            u.name AS name,
            CASE
                WHEN pl.payment = 1 THEN '납부함'
                ELSE '납부하지 않음'
                END AS paymentStatus
        FROM PersonList pl
                 JOIN User u ON pl.id = u.id
        WHERE pl.roomNum = #{roomNum}
    </select>

    <!-- 모임통장 거래 내역 -->
    <select id="getAccountTransactionHistory" resultType="com.example.backend.roomdetails.dto.TransactionDto">
        SELECT
            t.accountNumber AS accountNumber,
            t.information AS transactionDetails,
            t.time AS transactionTime,
            t.amount AS amount
        FROM Transaction t
        WHERE t.accountNumber = #{accountNumber}
    </select>

    <!-- 거래내역 추가 -->
    <insert id="insertTransaction">
        INSERT INTO Transaction (accountNumber, information, time, amount)
        VALUES (#{accountNumber}, #{transactionDetails}, NOW(), #{amount})
    </insert></mapper>